.mybutton {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 5px;
  }
  
  .mybutton2 {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 5px;
  }
  